basis~0
Clone~0.22
Class::Data::Localize~0.01
Class::WhiteHole~0.04
Data::Validate~0.09
Test::Simple~0.47
Config::General~2.32
File::chdir~0.1008
File::Monitor~1.00
File::Slurp~9999.12
Hash::Merge~0.10
HTML::ElementTable~1.17
HTML::TableExtract~2.10
Package::Subroutine~0.22.1
Params::Validate~0.88
Path::Class~0.28
Path::Tiny~0.060
Module::Build~0.2808
Log::Dispatch~2.17
Log::Log4perl~1.10
Spreadsheet::WriteExcel~2.18
Ref::Util~0.099
Safe::Caller~0.08
Sub::Uplevel~0.14
Test::Harness~2.28
UNIVERSAL::require~0.11
Test::Builder::Tester~1.01
Test::LongString~0.11
Text::Glob~0.08
Text::Table~1.123
WWW::Mechanize~1.20
YAML~0.62
File::HomeDir~0
Term::Pager~0
Term::Shell~0
